$green: #527b6a;
$grey: #777777;
$light-grey:#d7d7d7;
$purple: #664356;
$light-purple:#BEA3B2;
$footer-grey:#414042;
@import "reset.scss";
@font-face {
	font-family: 'Avenir';
	src: url("../../fonts/AvenirLTStd-Book.otf"),
  url('../../fonts/AvenirLTStd-Light.otf'),
	url('../../fonts/AvenirLTStd-Oblique.otf');
}
body {
  font-family: 'Avenir' !important;
  list-style: none !important;
}
.center{
	text-align: center;
}
// font
.h1-style {
  font-size: 42px;
  color: $green;
  margin: 50px 0 30px;
  font-weight: bold;
}

.h2-style{
  font-size: 22px;
  color: $green;
}
.h2-style-purple{
	font-size: 22px;
  color: $purple;

}
.h3-style{
	font-size: 24px;
	color: $green;
}
.h3-style-cap{
	@extend .h3-style;
	text-transform:uppercase;

}
.h3-style-purple{
	font-size: 24px;
	color:$purple;
}

.h4-style-purple{
	font-size: 18px;
	color: $purple;
}
.under-all{
	a{
	color:$grey;
	font-size: 18px;
	text-decoration: underline;
	font-style: italic;

}

}
@media (min-width: 1200px) {
    .container{
        max-width: 1280px;
    }
}
.stars{
	color:$purple;
}



.section{
	margin: 40px 0px;
}

p{
  font-size: 16px;
  color:black;
	line-height: 1.5em;
}
.btn-color{
	background-color: $purple;
	color:#fff;
	border-radius: 0px!important;
	padding: 10px 42px;
	&:hover{
		color:#fff;
	}
}

.btn-purple{
	@extend .btn-color ;
	width: 226px;
	height: 50px;
	font-size: 20px;

}
.btn-green{
	@extend .btn-purple;
	background-color:$green;

}
.link img{
	width: 100%;
	margin-bottom: 30px;
}
//  ============= Category =============
.cat-content {
	.wine-info {
		margin-bottom: 60px;
	}

	.h1-style {
		margin: 0 0 25px;
	}

	.cat-banner img {
		width: 100%;
	}

	.h2-style-purple {
		margin: 30px 0;
	}

	p {
		margin: 10px 0;
	}

	select {
		border-radius: 0;
	}

	.sort-page {
		// margin:20px 0px;
		.sort-by {
			color: $purple;
			float: left;

			label {
				padding: 10px;
			}

			.ori-list {
				float: left;
				position: relative;

				i {
					color: $grey;
					margin: 0 10px;
				}

				&+.ori-list:before {
					content: '';
					position: absolute;
					height: 16px;
					border-right: 1px solid $grey;
				}
			}

			.pagination {
				margin: 0;
			}

			.page-list {
				margin: 5px 0;
			}

			.page-link {
				border: 0;
				color: $grey;

				&:hover {
					color: $purple;
				}

				&:focus {
					color: $purple;
				}

				.disabled {
					color: $purple;
				}
			}
		}

		.sort-page-in {
			display: flex;
			// justify-content: center;
			align-items: center;
			padding: 20px 0;
			@media (max-width: 767px) {
				justify-content: center;
			}

			&.page-ori {
				justify-content: flex-end;
				@media (max-width: 767px) {
					justify-content: center;
				}
			}
		}

		.out-of-item label {
			margin: 10px;
			color: $grey;
		}
	}
}
//breadcrumb

.breadcrumb {
	margin: 45px 0;
	background: none;

	a {
		font-size: 16px;
		color: black !important;
		position: relative;
		margin-right: 20px;

		&:before {
			content: '>';
			position: absolute;
			right: -18px;
		}

		&:hover {
			text-decoration: none;
			color: $purple !important;
		}
	}

	span {
		color: $purple !important;
	}
}
// checkbox

.checkbox-list {
	li {
		margin: 20px 0;
	}
}

.styled-checkbox {
	position: absolute; // take it out of document flow
	visibility: hidden; // hide it
	left: -9999;

	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
		font-size: 16px;
	}
	// Box.
	& + label:before {
		content: '';
		margin-right: 10px;
		display: inline-block;
		// vertical-align: center;
		width: 12px;
		height: 12px;
		background: white;
		border: 1px solid black;
		border-radius: 2px;
	}
	// Disabled state label.
	&:disabled + label {
		color: #b8b8b8;
		cursor: auto;
	}
	// Disabled box.
	&:disabled + label:before {
		box-shadow: none;
		background: #ddd;
	}
	// Checkmark. Could be replaced with an image
	&:checked + label:after {
		content: '';
		position: absolute;
		left: 2px;
		top: 5px;
		background: black;
		width: 2px;
		height: 2px;
		box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
		transform: rotate(45deg);
	}
}

.wine-product {
	.cart-price{
		display: flex;
		align-items:center;
		justify-content:center;
		@media (max-width: 767px) {
			display:block;
			.price{
				font-size: 25px;
				text-align: left;
				margin: 10px 0px;
			}
			.share-out{
				text-align: left;
				justify-content:flex-start;

			}
		}

	}


	.thumbnail {
		overflow: hidden;
		img{
			margin-left: 10px;
		}
		td {
			font-size: 14px;
		}

		.product-title {
			font-size: 18px;
		}

		.promotion {
			font-size: 18px;
		}
	}
	select,.btn-cart{
		float: left;
		border-radius: 0px;

	}
	select{
		width: 70%;
	}
	.btn-cart{
		width: 30%;
	}
	.share-out{
		display: flex;
		justify-content:flex-end;

	}
}
// accordion

#accordion-1 {
	.panel {
		&+.panel {
			border-top: 1px solid $grey;
			border-radius: 0;
		}
		border: none;
		box-shadow: none;

		.panel-body {
			padding: 15px 0;
			border: 0;
		}

		.panel-heading {
			padding: 10px 0;
			background: none;
			border: 0;

			&:focus {
				outline: none;
			}

			.panel-title {
				a {
					text-decoration: none;
					color: $purple;
				}
			}
		}
	}
}

.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'FontAwesome';
	/* essential for enabling glyphicon */
	content: "\f0d8";
	/* adjust as needed, taken from bootstrap.css */
	float: left;
	/* adjust as needed */
	margin-right: 10px;
}

.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\f0d7";
	/* adjust as needed, taken from bootstrap.css */
}

//  ============= header =============
.logo-black{
	display: flex;
	align-items:center;
	justify-content:center;
	@media (min-width: 767px) {
		display: none;
	}

	img{
		width: 70%;
	
}

}
header {
  background: $green;
  height: 88px;
  margin-bottom: 15px;
	@media (max-width: 768px) {
	li{
		text-align: center;
		padding: 0px 0px;
	}
	}
}
@media (min-width: 767px) and (max-width:1280px) {
	.navbar-right{
		display: none;

	}

}


.navbar {
  height: 88px;
  background: $green !important;
  border: 0 solid $green;
  color: #fff;
  font-size: 16px;
  @media (min-width: 768px){
  	.navbar-right{
  		margin-right: 0px;
  	}

  }

	@media (max-width: 768px) {
		.navbar-header{
			margin-top: 20px;
		}
		.navbar-toggle{
			float: left;
			margin-left:30px; 
			.icon-bar{
				background-color:#fff;
			}
		}
		.navbar-collapse{
			position: inherit;
			z-index: 999;
			background: $green;
			width: 100%;
		}
		.navbar-form{
			padding: 0px;
			width: 80%;
			margin-left: 10% !important;
			border-top:0px;
			border-bottom:0px !important;
			box-shadow: 0px 0px 0px #fff;
		}
 }
  #navbar {
    border: 0;
    border-image-width: 0 !important;
		box-shadow: 0px 0px 0px $green;
  }
	.lng-en{
		position: relative;
	}
	.lng-en:before{
		content:'';
		height: 20px;
		border-right: 1px solid #fff;
		position: absolute;
		right: 0px;
		top:36px;

	}
  .navbar-collapse {
	border: 0;
	padding: 0 !important;
	box-shadow: 0 0 0 $green;
}
  img {
    margin: 10px 0;
  }
  a {
    color: #fff !important;
    padding-top: 36px !important;
    padding-bottom: 30px;
    padding-left: 20px !important;
    @media (min-width: 768px) and (min-width: 768px){
    padding-left: 10px !important;
    }

  }
  .navbar-right{
  	// background: $green;
    a{padding: 36px 10px 36px 10px !important;}
  }
  //navbar-dropdown
  .navbar-dropdown{
  	height: 65px;
	position: absolute;
	padding:10px;
	display: flex;
	align-items:center;
	justify-content:center;
	right: 0;
	top:90px;
	display: none;
	background: $green;
	z-index: 999;
	.navbar-form{
		padding:0px;
	}
	#srch-term{
		margin:10px 0px;
	}
	.menu-right-item{
		padding-top: 20px;
	}

	li{
		float: left;
		margin: 0px 5px;

	}
}
.btn-dropdown{
	margin-top: 28px;
	float: right;
	// margin-left: 10px;
	background-color: $green;
	border: 1px solid #fff;
	@media (min-width: 1281px) {
		display: none;

	}
	@media (max-width: 767px) {
		display: none;
	}
}
  .navbar-form {
    padding: 28px 0px 28px 0px ;
	margin: 0px 0px 0px 0px;
	border-radius: 0px;
    // border-bottom: 1px solid #fff;
		.btn-search{
			background-color: $green;
			border-bottom: 1px solid #fff;
			border-radius: 0px;
			text-align: right;
			i{
				margin-right: 0px;
			}
		}

    #srch-term{
      background-color: $green;
      border: none;
	  border-bottom: 1px solid #fff;
	  border-radius: 0px;
      color:#fff;
	  box-shadow: 0px 0px 0px $green ;
	  // display: none;



    }
    #srch-submit{
        background-color: $green;
        color: #fff;

    }
    .form-control{
    	// display: none;
    }
  }
}
// to-top-btn
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 64px;
    background: $green;
    color: #fff;
    cursor: pointer;
    border: 0;
    text-decoration: none;
    font-size: 30px;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    i{
    	color:#fff !important;
    }
}
#back-to-top.show {
    opacity: 1;
}

//  ============= homepage =============
.head-slide-link{
	margin-bottom: 76px;
	#myCarousel{
		// height: 320px;
		// height: 200px;
		// margin-top: 15px;
		img{
			// height: 320px;
			// height: 200px;
		}
	}
	.col-md-9{
		padding-right: 15px;
			padding-top: 15px;
			@media (max-width: 768px) {
				// padding-right: 0px;

	}

	}
	.col-md-3{
			padding-right: 15px;
			padding-top: 15px;
			@media (max-width: 768px) {
				// padding-right: 0px;

	}
		}
		.sq-img-up img{
			width: 100%;
			// height: 320px;
		}

	.sq-img img{
		width: 100%;
	}
}
.cat-descript{
	margin: 24px 0px;
	p{
		font-size: 16px;
	}
}

// wine-tab
.nav-pills {
	width: 100%;
	li{
		width: 24%;
		margin:0 5px;
		@media (max-width: 768px) {
		width: 100%;

	}
	}



}
@media (max-width: 768px) {
	.tab-pane{
		margin-top: 30px;
	}



}


.btn-tab{
	@extend .btn-color;
	background-color: $light-purple;
	font-size: 24px;
	// width: 100%;
	height: 54px;
	margin: 20px 0px;
	&:hover{
		background-color: $purple !important;

	}
	@media (max-width: 768px) {
	margin:5px 0px;



}
}
.active .btn-tab{
	background-color: $purple !important;


}


.thumbnail {
	&:hover{
		box-shadow: 0px 1px 5px rgba(0,0,0,.4);

	}
	.btn{
		border-radius:0px;
	}

	// width: 350px;
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 80px;
		height: 290px;
    float: left;
    // margin-right: 9px;
	}
	.caption{
		font-size: 16px;
		width: 250px;
		float: left;
	}
	.product-title{
		color:$purple;
		font-weight: 1000;
		font-size: 22px;
	}
	.origin{
		i{
			margin-right: 10px;
		}

	}
	.size{
		span{
		//margin-left: 20px;
	}
	}
	.taste{

		font-style: italic;
	}
	.stars{
		// margin-left: 20px;
		i{
			color:$purple;
		}

	}
	.quantity{


		.form-group,.to-cart{
			float: left;
			border-radius: 0px;
		}
		select,button.to-cart{
			border-radius: 0px!important;
		}
	}
	.cart-price{
		margin: 16px 0px;
		padding: 20px 0px;
		border-top: 1px solid #d7d7d7;
		border-bottom: 1px solid #d7d7d7;
	}
	.promotion{
		font-size: 21px;
		color:red;

	}

}
.cat-descript{
	padding: 30px 0px;
	.h2-style-purple{
		margin-bottom: 20px;
	}
	.btn-purple{
		margin: 45px 0px;
	}
	.see-all{
		height: 100%;
		display: flex;
		justify-content:center;
		align-items:center;
	}
}
.philosophy{
	padding:78px 0px 87px;
		background-color: #EBEBEB;
		img{
			width: 100%;
			padding-bottom: 20px;
		}
		.phil-txt{

		}
		p{
			padding-bottom: 20px;
		}
		.learn-more{
			display: flex;
			justify-content: center;
			margin-top: 50px;

		}
		.h1-style{
			margin-bottom: 78px;
		}
		.h2-style{
			margin-bottom: 20px;
		}
		.phil-content{
			padding-left: 25px;
		}
				@media (max-width: 768px) {
		.phil-content{
			padding-left: 0px;
		}
	}


}
@media (min-width: 767px) and (max-width:863px) {
		header{
			height: 95px !important;
			.container{
				width: 96%;
			}
			.navbar .navbar-dropdown{
				top:100px;
			}
		}
	}
// ============= contact-us =============
.content {
	// width: 947px;
	// margin-right: 12px;
	.store-info {
		margin-top: 40px;

		.content-text {
			p {
				margin: 20px 0;
			}
		}

		table {
			td:first-child {
				width: 40px;
			}

			p {
				margin: 10px;
			}
		}

		li {
			line-height: 1.5em;

			i {
				margin-right: 30px;
			}

			span {
				margin-left: 38px;
			}
		}
	}

	.contact-form {
		margin: 40px 0;
	}

	.map iframe {
		margin-top: 20px;
		width: 100%;
	}
}

.sidebar {
  img {
    // width: 319px !important;
		width: 100%;
    margin-bottom: 16px;
  }
}

#search_param {
  width: 300px;
}
.contact-form{
	font-size:14px;
	input,textarea{
		border-radius:0px;
		border: 1px solid #888;
	}

p{color:#888;}
	.notice p{
		margin: 15px 0px;
		color:red;
	}
}


// ============= footer =============

.footer-first {
	display: flex;
	align-items: center;
	justify-content: center;
	.col-md-3,.col-sm-12{
		display: flex;
		justify-content:center;
	}
	.col-md-4{
			display: flex;
			justify-content:center;
		}
		.first-item-out{
			position: relative;
		}
		.first-item-out+.first-item-out{
			&:before{
				content: '';
				display: block;
				height: 75px;
				border-right: 1px solid $grey;
				position: absolute;
				top:30px;
				left: -15px;
				@media (min-width: 768px) and (max-width: 991px) {
					display: none;

		}
		@media (max-width: 768px) {
					border-right: 0px;
					height: auto;
					width: 100%;
					border-bottom: 1px solid $grey;
					top:0px;
					left:0px;

		}

			}

		}


  .first-item{
		margin: 32px 0px;
		  .font{ padding: 15px 20px;}
		  .footer-icon-font-lg {
		    color: $purple;
		    font-size: 24px;
				font-weight: bold;
		  }

		  .footer-icon-font-sm {
		    color: $purple;
		    font-size: 14px;
				font-weight:bold;
		  }
		}
		@media (max-width: 991px) {
		.first-item {
			&:before {
				content: '';
				display: none;
			}
		}
	}
  }


.footer-second{

  padding:  25px 0px;
  background-color: $purple;
	.sign-up{
		height: 40px;
		width: 100%;
		display: flex;
		justify-content: right;
		align-items: center;
		color:#fff;
		font-size: 24px;

		@media (max-width: 768px) {
		span{
			margin:  10px 0px;
		}
	}
	}
	#news-email{
		// width: 566px;
		width: 100%;
		height: 40px;
		margin-right: 10px;
		border-radius: 0px;


	}
	.btn-color-2{
		@extend .btn-color;
		border: 1px solid #fff;
		padding: 5px 20px;
		font-size: 20px;
		// height: 20px;
		@media (max-width: 768px) {
			background-color: $green;
			border: 1px solid $green;
		}

	}
	@media (max-width: 768px) {
			.footer-form{
		margin-top: 20px;
	}
	}

}

.footer-third{
  // height: 310px;
  background-color: $footer-grey;
	img{
		// width: 255px;
	}
	.pay-icon{
		color: #fff;
		i{
			font-size: 25px;
			margin-left:10px;
			margin-top: 20px;

		}
	}
	.footer-head-font{
		font-size: 20px;
		margin-bottom:20px;
		font-weight: bold;
		color:#fff;

	}
	a{
		font-size: 12px;
		color:#fff;
		line-height:1.5em;
		&:hover{
			text-decoration: none;
		}
	}
	.contact-with-us{
		li{
			float:left;
			i{
				font-size: 25px;
				margin-right: 15px;
			}

		}
	}
	.copyright{
		font-size: 12px;
		color:#fff;
		text-align:right;
	}
	@media (max-width: 768px) {
			.col-md-2{
		margin: 20px 0px;
	}
	}

}
.no-mobile{
	display: block;
	@media (max-width: 768px) {
	display: none;
	}
}
.show-mobile{
	display: none;
	@media (max-width: 768px) {
	display: block;
	}

}
.tc-mobile{
	@media (max-width: 768px) {
	text-align:center !important;
	justify-content:center !important;
	}

}
.contact-us-mobile{
	display: none;
	color:#fff;
	padding: 25px 0px 10px;
	.social-icon{
		display: flex;
		margin-left: 10px;

		li{
			margin: 0px 12px;
		}
	}
	i{
		color:#fff;
		font-size: 30px;
	}
	@media (max-width: 768px) {
	display: flex;
	justify-content:space-between;
	align-items:center;
	}

}
#accordion-footer{
	display: none;
	@media (max-width: 768px) {
			display: block;
	}
	a:focus{
		text-decoration: none;
	}
.panel{
	border-radius:0px;
	border: 0px;
	box-shadow: 0px 0px 0px $footer-grey; 
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none;

}
.panel-group>div{
	
	border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.panel+.panel{
	margin-top: 0px !important;
}
.panel-heading{
	background:$footer-grey;
	border-radius:0px;

	
}
.panel-title{
	font-size: 20px;
	a{
		font-size: 20px;
	}
}
.panel-body{
	border:0px;
	background-color: $footer-grey;
	a{
		font-size: 16px;
	}
}
.panel-heading .footer-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'FontAwesome';
	/* essential for enabling glyphicon */
	content: "\f068";
	/* adjust as needed, taken from bootstrap.css */
	float: right;
	/* adjust as needed */
	margin-right: 10px;
}

.panel-heading .footer-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\f067";
	/* adjust as needed, taken from bootstrap.css */
}
}

//================== product==========================

.rc-product{
	line-height: 1.5em;
	.h3-style-cap{
		padding-top: 50px;
		padding-bottom: 35px;
	}
	i{
		margin-right: 10px;
	}
	.action{
		margin-top: 20px;
		a{color: black;
		text-decoration: none;
	&:hover{
		color:$purple;
	}}
	}
}
.wine-info-sidebar{
	display: flex;
	align-items: center;
	justify-content: center;
	border-top:1px solid $grey;
	// border-bottom: 1px solid $grey;
	// height: 185px;
	padding: 30px 0px;
	img{
		border: 1px solid $light-grey;
		padding: 10px;
		// width: 100%;
		height: 125px;
	}
	.delete-c{
		a{
			color:$grey;
		}
	}

}
.btn-compare{
		@extend .btn-purple;
		// width: 150px;
		width: 65%;
		float: left;
		padding:0px;

	}

	.clear-all{
		float: right;

	}
.wine-info-img, .wine-info-txt{
	float: left;
	padding: 0px 15px;
}
.wine-info-txt{
	width: 250px;
}
.product-info{
	table{
		width: 100%;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
		margin:20px 0px;
		td{
			padding: 5px 0px;
		}
	}
	.product-title{
		font-size: 32px;
		line-height: 1.5em;
		color:$green;
	}
	.status{
		color:$purple;
		font-size: 22px;
	}

}
// gallery
#slider-thumbs{
	.carousel-inner{
		margin:12px 0px;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		.col-md-4{
			padding-left: 0px;
			padding-right: 0px;
		}
		.thumbnail{
			margin: 0px 5px;
			width: 70px !important;
			height: 70px !important;
			border-radius: 0px;
			img{
				height: 100%;
				width: auto;
				padding: 0px 10px;
			}
		}
	}
 .carousel-control.right{
   top:20px;
	 position: absolute;
	 right: -12px;
	//  top:400px;
	 color: $grey;
	 background: none;
	 font-size: 80px;
 }
 .carousel-control.left{
	 top:20px;
	 position: absolute;
	 left:-12px;
	 color: $grey;
	 background: none;
	 font-size: 80px;

 }

}
#myCarousel-product{
	.carousel-inner{
		// display: flex;
		// align-items: center;
		// justify-content: center;
		border: 1px solid $light-grey;


	}
	.img-item{
		// padding: 0px 50px;
	img{
		height: 364px;
		width: auto;

	}
}
}

.desc-wine-tab{
	#exTab1{
		// margin-top: 20px;
		margin-bottom: 40px;
		.btn-tab{
			margin-bottom: 0px;
		}
		.nav-pills li{
			margin:0px 10px 0px 0px;
		}
		.h2-style-purple{
			margin-bottom: 20px;
		}
		.tab-content{
			padding: 25px;
			border: 1px solid $light-grey;
			margin:0px;
		}

	}

}
