/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Avenir';
  src: url("../../fonts/AvenirLTStd-Book.otf"), url("../../fonts/AvenirLTStd-Light.otf"), url("../../fonts/AvenirLTStd-Oblique.otf"); }
body {
  font-family: 'Avenir' !important;
  list-style: none !important; }

.center {
  text-align: center; }

.h1-style {
  font-size: 42px;
  color: #527b6a;
  margin: 50px 0 30px;
  font-weight: bold; }

.h2-style {
  font-size: 22px;
  color: #527b6a; }

.h2-style-purple {
  font-size: 22px;
  color: #664356; }

.h3-style, .h3-style-cap {
  font-size: 24px;
  color: #527b6a; }

.h3-style-cap {
  text-transform: uppercase; }

.h3-style-purple {
  font-size: 24px;
  color: #664356; }

.h4-style-purple {
  font-size: 18px;
  color: #664356; }

.under-all a {
  color: #777777;
  font-size: 18px;
  text-decoration: underline;
  font-style: italic; }

@media (min-width: 1200px) {
  .container {
    max-width: 1280px; } }
.stars {
  color: #664356; }

.section {
  margin: 40px 0px; }

p {
  font-size: 16px;
  color: black;
  line-height: 1.5em; }

.btn-color, .btn-purple, .btn-green, .btn-compare, .btn-tab, .footer-second .btn-color-2 {
  background-color: #664356;
  color: #fff;
  border-radius: 0px !important;
  padding: 10px 42px; }
  .btn-color:hover, .btn-purple:hover, .btn-green:hover, .btn-compare:hover, .btn-tab:hover, .footer-second .btn-color-2:hover {
    color: #fff; }

.btn-purple, .btn-green, .btn-compare {
  width: 226px;
  height: 50px;
  font-size: 20px; }

.btn-green {
  background-color: #527b6a; }

.link img {
  width: 100%;
  margin-bottom: 30px; }

.cat-content .wine-info {
  margin-bottom: 60px; }
.cat-content .h1-style {
  margin: 0 0 25px; }
.cat-content .cat-banner img {
  width: 100%; }
.cat-content .h2-style-purple {
  margin: 30px 0; }
.cat-content p {
  margin: 10px 0; }
.cat-content select {
  border-radius: 0; }
.cat-content .sort-page .sort-by {
  color: #664356;
  float: left; }
  .cat-content .sort-page .sort-by label {
    padding: 10px; }
  .cat-content .sort-page .sort-by .ori-list {
    float: left;
    position: relative; }
    .cat-content .sort-page .sort-by .ori-list i {
      color: #777777;
      margin: 0 10px; }
    .cat-content .sort-page .sort-by .ori-list + .ori-list:before {
      content: '';
      position: absolute;
      height: 16px;
      border-right: 1px solid #777777; }
  .cat-content .sort-page .sort-by .pagination {
    margin: 0; }
  .cat-content .sort-page .sort-by .page-list {
    margin: 5px 0; }
  .cat-content .sort-page .sort-by .page-link {
    border: 0;
    color: #777777; }
    .cat-content .sort-page .sort-by .page-link:hover {
      color: #664356; }
    .cat-content .sort-page .sort-by .page-link:focus {
      color: #664356; }
    .cat-content .sort-page .sort-by .page-link .disabled {
      color: #664356; }
.cat-content .sort-page .sort-page-in {
  display: flex;
  align-items: center;
  padding: 20px 0; }
  @media (max-width: 767px) {
    .cat-content .sort-page .sort-page-in {
      justify-content: center; } }
  .cat-content .sort-page .sort-page-in.page-ori {
    justify-content: flex-end; }
    @media (max-width: 767px) {
      .cat-content .sort-page .sort-page-in.page-ori {
        justify-content: center; } }
.cat-content .sort-page .out-of-item label {
  margin: 10px;
  color: #777777; }

.breadcrumb {
  margin: 45px 0;
  background: none; }
  .breadcrumb a {
    font-size: 16px;
    color: black !important;
    position: relative;
    margin-right: 20px; }
    .breadcrumb a:before {
      content: '>';
      position: absolute;
      right: -18px; }
    .breadcrumb a:hover {
      text-decoration: none;
      color: #664356 !important; }
  .breadcrumb span {
    color: #664356 !important; }

.checkbox-list li {
  margin: 20px 0; }

.styled-checkbox {
  position: absolute;
  visibility: hidden;
  left: -9999; }
  .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    font-size: 16px; }
  .styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid black;
    border-radius: 2px; }
  .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd; }
  .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 5px;
    background: black;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 black, 4px 0 0 black, 4px -2px 0 black, 4px -4px 0 black, 4px -6px 0 black, 4px -8px 0 black;
    transform: rotate(45deg); }

.wine-product .cart-price {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (max-width: 767px) {
    .wine-product .cart-price {
      display: block; }
      .wine-product .cart-price .price {
        font-size: 25px;
        text-align: left;
        margin: 10px 0px; }
      .wine-product .cart-price .share-out {
        text-align: left;
        justify-content: flex-start; } }
.wine-product .thumbnail {
  overflow: hidden; }
  .wine-product .thumbnail img {
    margin-left: 10px; }
  .wine-product .thumbnail td {
    font-size: 14px; }
  .wine-product .thumbnail .product-title {
    font-size: 18px; }
  .wine-product .thumbnail .promotion {
    font-size: 18px; }
.wine-product select, .wine-product .btn-cart {
  float: left;
  border-radius: 0px; }
.wine-product select {
  width: 70%; }
.wine-product .btn-cart {
  width: 30%; }
.wine-product .share-out {
  display: flex;
  justify-content: flex-end; }

#accordion-1 .panel {
  border: none;
  box-shadow: none; }
  #accordion-1 .panel + .panel {
    border-top: 1px solid #777777;
    border-radius: 0; }
  #accordion-1 .panel .panel-body {
    padding: 15px 0;
    border: 0; }
  #accordion-1 .panel .panel-heading {
    padding: 10px 0;
    background: none;
    border: 0; }
    #accordion-1 .panel .panel-heading:focus {
      outline: none; }
    #accordion-1 .panel .panel-heading .panel-title a {
      text-decoration: none;
      color: #664356; }

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'FontAwesome';
  /* essential for enabling glyphicon */
  content: "\f0d8";
  /* adjust as needed, taken from bootstrap.css */
  float: left;
  /* adjust as needed */
  margin-right: 10px; }

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f0d7";
  /* adjust as needed, taken from bootstrap.css */ }

.logo-black {
  display: flex;
  align-items: center;
  justify-content: center; }
  @media (min-width: 767px) {
    .logo-black {
      display: none; } }
  .logo-black img {
    width: 70%; }

header {
  background: #527b6a;
  height: 88px;
  margin-bottom: 15px; }
  @media (max-width: 768px) {
    header li {
      text-align: center;
      padding: 0px 0px; } }

@media (min-width: 767px) and (max-width: 1280px) {
  .navbar-right {
    display: none; } }
.navbar {
  height: 88px;
  background: #527b6a !important;
  border: 0 solid #527b6a;
  color: #fff;
  font-size: 16px; }
  @media (min-width: 768px) {
    .navbar .navbar-right {
      margin-right: 0px; } }
  @media (max-width: 768px) {
    .navbar .navbar-header {
      margin-top: 20px; }
    .navbar .navbar-toggle {
      float: left;
      margin-left: 30px; }
      .navbar .navbar-toggle .icon-bar {
        background-color: #fff; }
    .navbar .navbar-collapse {
      position: inherit;
      z-index: 999;
      background: #527b6a;
      width: 100%; }
    .navbar .navbar-form {
      padding: 0px;
      width: 80%;
      margin-left: 10% !important;
      border-top: 0px;
      border-bottom: 0px !important;
      box-shadow: 0px 0px 0px #fff; } }
  .navbar #navbar {
    border: 0;
    border-image-width: 0 !important;
    box-shadow: 0px 0px 0px #527b6a; }
  .navbar .lng-en {
    position: relative; }
  .navbar .lng-en:before {
    content: '';
    height: 20px;
    border-right: 1px solid #fff;
    position: absolute;
    right: 0px;
    top: 36px; }
  .navbar .navbar-collapse {
    border: 0;
    padding: 0 !important;
    box-shadow: 0 0 0 #527b6a; }
  .navbar img {
    margin: 10px 0; }
  .navbar a {
    color: #fff !important;
    padding-top: 36px !important;
    padding-bottom: 30px;
    padding-left: 20px !important; }
    @media (min-width: 768px) and (min-width: 768px) {
      .navbar a {
        padding-left: 10px !important; } }
  .navbar .navbar-right a {
    padding: 36px 10px 36px 10px !important; }
  .navbar .navbar-dropdown {
    height: 65px;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 90px;
    display: none;
    background: #527b6a;
    z-index: 999; }
    .navbar .navbar-dropdown .navbar-form {
      padding: 0px; }
    .navbar .navbar-dropdown #srch-term {
      margin: 10px 0px; }
    .navbar .navbar-dropdown .menu-right-item {
      padding-top: 20px; }
    .navbar .navbar-dropdown li {
      float: left;
      margin: 0px 5px; }
  .navbar .btn-dropdown {
    margin-top: 28px;
    float: right;
    background-color: #527b6a;
    border: 1px solid #fff; }
    @media (min-width: 1281px) {
      .navbar .btn-dropdown {
        display: none; } }
    @media (max-width: 767px) {
      .navbar .btn-dropdown {
        display: none; } }
  .navbar .navbar-form {
    padding: 28px 0px 28px 0px;
    margin: 0px 0px 0px 0px;
    border-radius: 0px; }
    .navbar .navbar-form .btn-search {
      background-color: #527b6a;
      border-bottom: 1px solid #fff;
      border-radius: 0px;
      text-align: right; }
      .navbar .navbar-form .btn-search i {
        margin-right: 0px; }
    .navbar .navbar-form #srch-term {
      background-color: #527b6a;
      border: none;
      border-bottom: 1px solid #fff;
      border-radius: 0px;
      color: #fff;
      box-shadow: 0px 0px 0px #527b6a; }
    .navbar .navbar-form #srch-submit {
      background-color: #527b6a;
      color: #fff; }

#back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 9999;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  background: #527b6a;
  color: #fff;
  cursor: pointer;
  border: 0;
  text-decoration: none;
  font-size: 30px;
  transition: opacity 0.2s ease-out;
  opacity: 0; }
  #back-to-top i {
    color: #fff !important; }

#back-to-top.show {
  opacity: 1; }

.head-slide-link {
  margin-bottom: 76px; }
  .head-slide-link .col-md-9 {
    padding-right: 15px;
    padding-top: 15px; }
  .head-slide-link .col-md-3 {
    padding-right: 15px;
    padding-top: 15px; }
  .head-slide-link .sq-img-up img {
    width: 100%; }
  .head-slide-link .sq-img img {
    width: 100%; }

.cat-descript {
  margin: 24px 0px; }
  .cat-descript p {
    font-size: 16px; }

.nav-pills {
  width: 100%; }
  .nav-pills li {
    width: 24%;
    margin: 0 5px; }
    @media (max-width: 768px) {
      .nav-pills li {
        width: 100%; } }

@media (max-width: 768px) {
  .tab-pane {
    margin-top: 30px; } }
.btn-tab {
  background-color: #BEA3B2;
  font-size: 24px;
  height: 54px;
  margin: 20px 0px; }
  .btn-tab:hover {
    background-color: #664356 !important; }
  @media (max-width: 768px) {
    .btn-tab {
      margin: 5px 0px; } }

.active .btn-tab {
  background-color: #664356 !important; }

.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center; }
  .thumbnail:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4); }
  .thumbnail .btn {
    border-radius: 0px; }
  .thumbnail img {
    width: 80px;
    height: 290px;
    float: left; }
  .thumbnail .caption {
    font-size: 16px;
    width: 250px;
    float: left; }
  .thumbnail .product-title {
    color: #664356;
    font-weight: 1000;
    font-size: 22px; }
  .thumbnail .origin i {
    margin-right: 10px; }
  .thumbnail .taste {
    font-style: italic; }
  .thumbnail .stars i {
    color: #664356; }
  .thumbnail .quantity .form-group, .thumbnail .quantity .to-cart {
    float: left;
    border-radius: 0px; }
  .thumbnail .quantity select, .thumbnail .quantity button.to-cart {
    border-radius: 0px !important; }
  .thumbnail .cart-price {
    margin: 16px 0px;
    padding: 20px 0px;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7; }
  .thumbnail .promotion {
    font-size: 21px;
    color: red; }

.cat-descript {
  padding: 30px 0px; }
  .cat-descript .h2-style-purple {
    margin-bottom: 20px; }
  .cat-descript .btn-purple, .cat-descript .btn-green, .cat-descript .btn-compare {
    margin: 45px 0px; }
  .cat-descript .see-all {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

.philosophy {
  padding: 78px 0px 87px;
  background-color: #EBEBEB; }
  .philosophy img {
    width: 100%;
    padding-bottom: 20px; }
  .philosophy p {
    padding-bottom: 20px; }
  .philosophy .learn-more {
    display: flex;
    justify-content: center;
    margin-top: 50px; }
  .philosophy .h1-style {
    margin-bottom: 78px; }
  .philosophy .h2-style {
    margin-bottom: 20px; }
  .philosophy .phil-content {
    padding-left: 25px; }
  @media (max-width: 768px) {
    .philosophy .phil-content {
      padding-left: 0px; } }

@media (min-width: 767px) and (max-width: 863px) {
  header {
    height: 95px !important; }
    header .container {
      width: 96%; }
    header .navbar .navbar-dropdown {
      top: 100px; } }
.content .store-info {
  margin-top: 40px; }
  .content .store-info .content-text p {
    margin: 20px 0; }
  .content .store-info table td:first-child {
    width: 40px; }
  .content .store-info table p {
    margin: 10px; }
  .content .store-info li {
    line-height: 1.5em; }
    .content .store-info li i {
      margin-right: 30px; }
    .content .store-info li span {
      margin-left: 38px; }
.content .contact-form {
  margin: 40px 0; }
.content .map iframe {
  margin-top: 20px;
  width: 100%; }

.sidebar img {
  width: 100%;
  margin-bottom: 16px; }

#search_param {
  width: 300px; }

.contact-form {
  font-size: 14px; }
  .contact-form input, .contact-form textarea {
    border-radius: 0px;
    border: 1px solid #888; }
  .contact-form p {
    color: #888; }
  .contact-form .notice p {
    margin: 15px 0px;
    color: red; }

.footer-first {
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer-first .col-md-3, .footer-first .col-sm-12 {
    display: flex;
    justify-content: center; }
  .footer-first .col-md-4 {
    display: flex;
    justify-content: center; }
  .footer-first .first-item-out {
    position: relative; }
  .footer-first .first-item-out + .first-item-out:before {
    content: '';
    display: block;
    height: 75px;
    border-right: 1px solid #777777;
    position: absolute;
    top: 30px;
    left: -15px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .footer-first .first-item-out + .first-item-out:before {
        display: none; } }
    @media (max-width: 768px) {
      .footer-first .first-item-out + .first-item-out:before {
        border-right: 0px;
        height: auto;
        width: 100%;
        border-bottom: 1px solid #777777;
        top: 0px;
        left: 0px; } }
  .footer-first .first-item {
    margin: 32px 0px; }
    .footer-first .first-item .font {
      padding: 15px 20px; }
    .footer-first .first-item .footer-icon-font-lg {
      color: #664356;
      font-size: 24px;
      font-weight: bold; }
    .footer-first .first-item .footer-icon-font-sm {
      color: #664356;
      font-size: 14px;
      font-weight: bold; }
  @media (max-width: 991px) {
    .footer-first .first-item:before {
      content: '';
      display: none; } }

.footer-second {
  padding: 25px 0px;
  background-color: #664356; }
  .footer-second .sign-up {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #fff;
    font-size: 24px; }
    @media (max-width: 768px) {
      .footer-second .sign-up span {
        margin: 10px 0px; } }
  .footer-second #news-email {
    width: 100%;
    height: 40px;
    margin-right: 10px;
    border-radius: 0px; }
  .footer-second .btn-color-2 {
    border: 1px solid #fff;
    padding: 5px 20px;
    font-size: 20px; }
    @media (max-width: 768px) {
      .footer-second .btn-color-2 {
        background-color: #527b6a;
        border: 1px solid #527b6a; } }
  @media (max-width: 768px) {
    .footer-second .footer-form {
      margin-top: 20px; } }

.footer-third {
  background-color: #414042; }
  .footer-third .pay-icon {
    color: #fff; }
    .footer-third .pay-icon i {
      font-size: 25px;
      margin-left: 10px;
      margin-top: 20px; }
  .footer-third .footer-head-font {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff; }
  .footer-third a {
    font-size: 12px;
    color: #fff;
    line-height: 1.5em; }
    .footer-third a:hover {
      text-decoration: none; }
  .footer-third .contact-with-us li {
    float: left; }
    .footer-third .contact-with-us li i {
      font-size: 25px;
      margin-right: 15px; }
  .footer-third .copyright {
    font-size: 12px;
    color: #fff;
    text-align: right; }
  @media (max-width: 768px) {
    .footer-third .col-md-2 {
      margin: 20px 0px; } }

.no-mobile {
  display: block; }
  @media (max-width: 768px) {
    .no-mobile {
      display: none; } }

.show-mobile {
  display: none; }
  @media (max-width: 768px) {
    .show-mobile {
      display: block; } }

@media (max-width: 768px) {
  .tc-mobile {
    text-align: center !important;
    justify-content: center !important; } }

.contact-us-mobile {
  display: none;
  color: #fff;
  padding: 25px 0px 10px; }
  .contact-us-mobile .social-icon {
    display: flex;
    margin-left: 10px; }
    .contact-us-mobile .social-icon li {
      margin: 0px 12px; }
  .contact-us-mobile i {
    color: #fff;
    font-size: 30px; }
  @media (max-width: 768px) {
    .contact-us-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center; } }

#accordion-footer {
  display: none; }
  @media (max-width: 768px) {
    #accordion-footer {
      display: block; } }
  #accordion-footer a:focus {
    text-decoration: none; }
  #accordion-footer .panel {
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 0px 0px #414042;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #accordion-footer .panel-group > div {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #accordion-footer .panel + .panel {
    margin-top: 0px !important; }
  #accordion-footer .panel-heading {
    background: #414042;
    border-radius: 0px; }
  #accordion-footer .panel-title {
    font-size: 20px; }
    #accordion-footer .panel-title a {
      font-size: 20px; }
  #accordion-footer .panel-body {
    border: 0px;
    background-color: #414042; }
    #accordion-footer .panel-body a {
      font-size: 16px; }
  #accordion-footer .panel-heading .footer-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'FontAwesome';
    /* essential for enabling glyphicon */
    content: "\f068";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    /* adjust as needed */
    margin-right: 10px; }
  #accordion-footer .panel-heading .footer-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067";
    /* adjust as needed, taken from bootstrap.css */ }

.rc-product {
  line-height: 1.5em; }
  .rc-product .h3-style-cap {
    padding-top: 50px;
    padding-bottom: 35px; }
  .rc-product i {
    margin-right: 10px; }
  .rc-product .action {
    margin-top: 20px; }
    .rc-product .action a {
      color: black;
      text-decoration: none; }
      .rc-product .action a:hover {
        color: #664356; }

.wine-info-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #777777;
  padding: 30px 0px; }
  .wine-info-sidebar img {
    border: 1px solid #d7d7d7;
    padding: 10px;
    height: 125px; }
  .wine-info-sidebar .delete-c a {
    color: #777777; }

.btn-compare {
  width: 65%;
  float: left;
  padding: 0px; }

.clear-all {
  float: right; }

.wine-info-img, .wine-info-txt {
  float: left;
  padding: 0px 15px; }

.wine-info-txt {
  width: 250px; }

.product-info table {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 20px 0px; }
  .product-info table td {
    padding: 5px 0px; }
.product-info .product-title {
  font-size: 32px;
  line-height: 1.5em;
  color: #527b6a; }
.product-info .status {
  color: #664356;
  font-size: 22px; }

#slider-thumbs .carousel-inner {
  margin: 12px 0px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }
  #slider-thumbs .carousel-inner .col-md-4 {
    padding-left: 0px;
    padding-right: 0px; }
  #slider-thumbs .carousel-inner .thumbnail {
    margin: 0px 5px;
    width: 70px !important;
    height: 70px !important;
    border-radius: 0px; }
    #slider-thumbs .carousel-inner .thumbnail img {
      height: 100%;
      width: auto;
      padding: 0px 10px; }
#slider-thumbs .carousel-control.right {
  top: 20px;
  position: absolute;
  right: -12px;
  color: #777777;
  background: none;
  font-size: 80px; }
#slider-thumbs .carousel-control.left {
  top: 20px;
  position: absolute;
  left: -12px;
  color: #777777;
  background: none;
  font-size: 80px; }

#myCarousel-product .carousel-inner {
  border: 1px solid #d7d7d7; }
#myCarousel-product .img-item img {
  height: 364px;
  width: auto; }

.desc-wine-tab #exTab1 {
  margin-bottom: 40px; }
  .desc-wine-tab #exTab1 .btn-tab {
    margin-bottom: 0px; }
  .desc-wine-tab #exTab1 .nav-pills li {
    margin: 0px 10px 0px 0px; }
  .desc-wine-tab #exTab1 .h2-style-purple {
    margin-bottom: 20px; }
  .desc-wine-tab #exTab1 .tab-content {
    padding: 25px;
    border: 1px solid #d7d7d7;
    margin: 0px; }

/*# sourceMappingURL=style.css.map */
