

@media (max-width: 768px) {

		.mobile-render {
			visibility: inherit;
			display: block;
		}

		hr {
			width: 100%!important;
		}

    	.firstinner-div {
    		display: none;
    	}
    	.outer-div {
    		display: none;
    	}

    	.regular-account {
    		display: none;
    	}

    	.regular-account-adjustment {
    		margin-left: -10px!important;
    		margin-top : 150px!important;
    		display: table-caption;
    	}

    	.buttons-cart {
    		margin-left: 0px!important;
            float: left!important;
            width: 100%;
    	}
    	.regularmobile-account {
    		margin-top: 320px;
    		color : #527b6a;
    		border-bottom-color: #664356;
		    border-bottom-style: solid;
		    border-width: 1px;
    	}

    	.mobile-form {
    		margin-top: -50px;
    	}

    	.login-account {
    		font-size : 32px!important;
    	}

    	.image-box {
    		height : 200px;
    		width : 50%;
    		margin-top: 120px;
    		background-color: #708090;
    	}

    	.red-text {
    		color : red;
            margin-left: 3px;
    	}

    	#circle_icon {
            position: absolute;
    		margin-top: 110px!important;
    		float: left!important;
    	}

    	.hk-price {
    		color : #56baf8;
    	}

        .wishlist-tag {
            visibility: hidden;
            display: none;
        }

    	.product-name {
    		font-size : 18px;
    	}

    	.button-cart1, .button-cart2, .button-cart3 {
    		width: 100%;
    	}

    	.last-account {
    		margin-top: -22px;
    		margin-left: 0px;
    	}

    	.col-xs-1 {
    		margin-top: 10px;
    		width: 20%!important;
    	}
		
		section{
			margin-top: 60px;
    	}	

    	section input {
    		border-color: #f0f0f0;
    		border-width: 0.2px;
            margin-left: -15px!important;
    	}

    	.edit-mobile {
    		float:left;
    		position: absolute;
    		margin-top: 74px;
    	}

        .account-list li {
        font-size : 16px;
        color : #527b6a;
        /*margin-left: -40px!important;*/
        padding-top: 10px;
        padding-bottom: 20px!important;
        border-bottom-color: #f0f0f0;
        border-bottom-style: solid;
        border-bottom-width: 1px;

}

@media only screen and (min-width : 992px) {

    .edit-mobile {
        float : left;
    }

    #circle_icon {
        float : left!important;
    }

    .buttons-cart {
        margin-top: 10px;
        float  : inherit;
    }

    .container {
        width : 90%;
    }

    section button {
        min-width: 80px!important;
        width: 40px;
        height: 65px;
    }

    .custom-2 {
        margin-right: 0px!important;
    }

}
