
/*   @font-face {
font-family: 'Avenir';
src: url("../fonts/AvenirLTStd-Book.otf"), url("../fonts/AvenirLTStd-Light.otf"); }

body {
font-family: 'Avenir' !important;
list-style: none !important; 
}*/

@font-face {
    font-family: 'Avenir';
    src: url("../fonts/AvenirLTStd-Book.otf"), url("../fonts/AvenirLTStd-Light.otf"); 
}

body .row{
    font-family: 'Avenir' !important;
    list-style: none !important; 
}

.header {
    height : 85px;
    background-color: #527b6a;
    padding-top: 0px;
    width : 100%;
}

li{
    list-style-type: none;
    float : left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 25px;
    font-size: 16px;
}

.mobile-render {
    visibility: hidden;
    display: none;
    font-style: 'Avenir';
}

#password-text {
    color : #888888;
    font-size : 16px;
}

.forget-password a {
    color : #888888;
    font-size : 16px; 
}

/* Change the link color to #111 (black) on hover */
.shortcuts { 
    font-size :20px;
}

.contents {
    height: 1465px;
    width: 100%;
}

.login-content {
    margin:  0;
    width: 50%;
    float: left;
}

.login-info {
    font-size : 40px;
    color : #527b6a;
}

.inside-info {
    width : 498px;
}

.customer-info h3{
    margin-top: 46px;
    color : #527b6a;
    font-size: 20px;
    font-weight: none;
}

.create-account {
    margin-top: 27px;
}

.registered-content {
    margin: 0;
    width: 50%;
    float: left;
}

.registered-info {
    margin-top: 46px;
    color : #527b6a;
    font-size: 20px;
}

.required-text {
    color : red;
    font-size : 14px;
    float : right;
    margin-top : 3px;
}

input[type="button" i] {
    background-color: #663456;
    color : white;
    font-size : 14px;
    width: 168px;
    height: 37px;
}

.footer-top {
    margin-top: 20px;
    background-color: #664356;
    height: 65px;
    width : 100%;
}

.service-logo {
    height : 103px;
}

.logo-icon {
    margin-top : 400px;
}

.service-text {
    color : black;
    font-size : 24px;
}

.first-item{
    display: flex;
}

.first-item img {
    width: 82px;
    height: 82px;
}


.col-xs-8 {
    width: 290px;
    margin-left: -40px;
}




.signup-text {
    font-size : 24px;
    width: 414px;
    float : left;
    color : white;
}

input[type = "email2"] {
    width: 450px;
    height :40px;
}

.subscribe-button {
    float : right;
}

.subscribe-button input {
    height: 40px !important;
    width : 132px !important;
    font-size : 20px;
    background-color: #664356;
    color : white;
    text-align: center;
    margin-right : 120px;
}

.main-footer {
    height: 310px;
    background-color: #414042;
    width : 100%;
}

.footer-info {
    float : none;
}

hr {
    border-top-color : #664356!important ;
}

.payment-logo li{
    float : left;
    padding-top: 12px;
    font-size : 12px;
    margin-right: 0px;
    margin-left: 10px;
}

.connect-logo li .fa{
    margin-left: 12px;
    font-size: 21px;
}

.first-item{
    display: flex;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.first-item img {
    width: 82px;
    height: 82px
}


.col-xs-8{
    width: 290px;
    margin-left: -40px;
}

.footer-first {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left : 40px;
}

.footer-first .col-md-3, .footer-first .col-sm-12 {
    display: flex;
    justify-content: center; 
    padding-right: 0px;
}
.footer-first .col-md-4 {
    display: flex;
    justify-content: center; 
}

.footer-first .first-item-out {
    position: relative; 
}

.footer-first .first-item-out + .first-item-out:before {
    content: '';
    display: block;
    height: 75px;
    border-right: 1px solid #777777;
    position: absolute;
    top: 30px;
    left: -15px; 
}

@media (max-width: 991px) {
    .footer-first .first-item-out + .first-item-out:before {
    display: none; } 
}

.footer-first .first-item {
    margin: 22px 0px; 
}

.footer-first .first-item .font {
    padding: 15px 20px; 
}
.footer-first .first-item .footer-icon-font-lg {
    color: #664356;
    font-size: 24px;
    font-weight: bold; 
}

.footer-first .first-item .footer-icon-font-sm {
    color: #664356;
    font-size: 14px;
    font-weight: bold; 
}
@media (max-width: 991px) {
    .footer-first .first-item:before {
    content: '';
    display: none; } 
}

.footer-third .copyright {
    font-size: 12px;
    color: #fff;
    text-align: right; 
}
@media (max-width: 768px) {
    .footer-third .col-md-2 {
    margin: 20px 0px; } 
}

.footer-second {
    padding: 25px 0px;
    background-color: #664356; 
}

.footer-second .sign-up {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    color: #fff;
    font-size: 24px; 
}

.input-group {
    margin-left : -83px;
}

@media (max-width: 768px) {
    .footer-second .sign-up span {
    margin: 10px 0px; } 
}

.footer-second #news-email {
    width: 450px;
    height: 40px;
    margin-right: 10px;
    border-radius: 0px; 
}

.footer-second .btn-color-2 {
    border: 1px solid #fff;
    padding: 5px 20px;
    font-size: 20px; 
}

@media (max-width: 768px) {
    .footer-second .footer-form {
    margin-top: 20px; } 
}

