@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/AvenirLTStd-Book.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

.header {
    height : 85px;
    background-color: #527b6a;
    padding-top: 0px;
    width : 100%;

}

.container {
    font-family:'Avenir LT Std' !important;
}

li{
    list-style-type: none;
    float : left;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 25px;
    font-size: 16px;
}

.body {

}
/* Change the link color to #111 (black) on hover */
.shortcuts { 
    font-size :20px;
 }

 .contents {
    height: 1465px;
    width: 100%;
 }

 .login-content {
    margin:  0;
    width: 50%;
    float: left;
}

 .login-info {
    font-size : 40px;
    color : #527b6a;
 }

 .inside-info {
    width : 498px;
 }

 .customer-info h3{
    margin-top: 46px;
    color : #527b6a;
    font-size: 20px;
    font-weight: none;
 }

 .create-account {
    margin-top: 27px;
    /*width: 168px;
    height : 37px;*/
 }

.registered-content {
    margin: 0;
    width: 50%;
    float: left;
}
 .registered-info {
    margin-top: 46px;
    color : #527b6a;
    font-size: 20px;

 }

 input[type="button" i] {
    background-color: #663456;
    color : white;
    font-size : 14px;
    width: 168px;
    height: 37px;
}

.footer-top {
    margin-top: 20px;
    background-color: #664356;
    height: 65px;
    width : 100%;
}

.service-logo {
    height : 103px;
}

.service-text {
    color : black;
    font-size : 24px;
}

.signup-text {
    font-size : 24px;
    width: 414px;
    float : left;
}

.signup-email {
   /* height: 40px;
    width : 566px;*/
}

input[type = "email2"] {
    width: 566px;
    height :40px;
}

.subscribe-button {
    float : right;
}

.subscribe-button input {
    height: 40px !important;
    width : 132px !important;
    font-size : 20px;
    background-color: #664356;
    color : white;
    text-align: center;
}

.main-footer {
    height: 310px;
    background-color: #414042;
    width : 100%;
}

.footer-info {
    float : none;
}


.payment-logo li{
    float : left;
    padding-top: 12px;
    font-size : 20px;
    margin-right: 0px;
    margin-left: 10px;
}

.connect-logo li {
    margin-left: 12px;
    font-size: 20px;
}
