@media (max-width: 768px) {

	.login-account {
		font-size: 24px!important;
	}

	.regular-account {
		display: none;
	} 

	.account-list {
		visibility: hidden;
		display: none;
	}

	.regular-account-adjustment {
		visibility: hidden;
	}

	hr {
		width : 100%!important;
	}

	.account-text {
		font-size : 12px;
		font-family : 'Avenir';
	}

	.customers {
		font-size : 16px!important;
	}

	.contact-infobottom  {
		font-size: 12px!important;
		font-family : 'Avenir';
	}

	.account-information {
		font-size: 22px!important;
		font-family : 'Avenir';
	}

	.title-green {
		font-size : 16px!important;
		font-family: 'Avenir';
	}

	.outer-div {
		font-size: 11px;
   		width: 100%!important;
   		font-family: 'Avenir';
	}

	.info-account {
		font-size : 24px!important;
		border-bottom-style: solid;
	    border-bottom-width: 1px;
	    border-bottom-color: #664356;
	}

	.invoice-table {
		visibility: hidden;
		display: none;
	}

	.custom {
		margin-top: 55px!important;
	}

	.mobile-invoice {
		display: block;
		visibility: inherit;
		font-family: 'Avenir'!important;
		font-size: 12px!important;
	}

	tbody {
		border-top-style: none!important;
	}

	.contact-infobottom {
		width : 100%!important;
		margin-left: -15px!important;
	}
	
	.right-content{
		margin-left: 2px!important;
	}

	.edit {
		position: absolute;
    	margin-left: 92%;
	}

	.manage-text {
		margin-left: 0px!important;
		margin-left: 92%!important;
	}

	.default-shipping {
		margin-left: 0px!important;
	}

	h4 {
    font-size: 14px!important;
	}	

	.mobile-accountrender {
		visibility: inherit;
		display: block;
		float: left;
		width: 100%;
	}

	.mobile-account {
		color : #527b6a;
		border-bottom-style: solid;
		border-bottom-color: #664356;
		border-bottom-width: 1px;
		width: 100%!important;
	}

	.wishlist-tag {
		color : #527b6a;
	}

	td, th {
    	padding-right: 50px!important;
    	padding-bottom: 20px!important;
    	width : 60%;
  	}
}

@media (min-width:1281px) { 
	.account-list {
		margin-left: 60%!important;
	}
}
