
@media (max-width: 768px) {
    .invoice-table {
    	visibility: hidden;
    	display: none;
    }

    .mobile-invoice {
    	visibility: inherit;
    	display: block;
    }

    .login-account {
    	font-size: 22px!important;
    } 

    .regular-account {
    	visibility: hidden;
    	display: none;
    }

    .outer-div {
    	border-bottom-style: none!important;
    	width: 100%!important;
    }

    hr {
    	width: 100%!important;
    }

    .hr-tag { 
      width : 100%!important;
     }

    tbody {
    	border : none!important;
    }

    .regular-account-adjustment {
    	visibility: hidden;
    	display: none;
    }

    .last-div {
    	visibility: hidden;
    	display: none;
    }

    .word {
    	visibility: hidden;
    	display: none;
    }

    .custom {
    	font-size: 11px!important;
	 }

  	#page {
  		font-size: 11px!important;
  		margin-left: 5px!important;
  		margin-top : 20px!important;
  	}

  	.pagination {
  		margin-top: 6px!important;
  	}

  	.pagination a {
  		padding : 0px!important;
  		width :24px!important;
  		margin-top :10px!important;
  		font-size: 11px;
  		vertical-align: middle;
  	}

    td, th {
    	padding-right: 50px!important;
    	padding-bottom: 20px!important;
  	}

  	.mobile-account {
  		font-size : 22px;
  		color : #527b6a;
  		border-bottom-color: #664356;
  		border-bottom-style: solid;
  		border-bottom-width: 1px;
  	}
  	.mobile-account-adjustment {
  		visibility: inherit;
  		display: block;
  	}

  	.account-list li {
  		width : 100%!important;
  		font-size : 16px;
  		color : #527b6a;
  		margin-left: -40px!important;
  		padding-top: 10px;
  		padding-bottom: 20px!important;
  		border-bottom-color: #f0f0f0;
	    border-bottom-style: solid;
	    border-bottom-width: 1px;
  	}
}

    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : landscape) { 

 /*   .pagination {
      margin-right: 280px!important;
    }*/

}


    @media only screen and (min-width : 992px) {
        hr {
        width: 100%!important;
        }

        #pagesecond {
          margin-left: 0px!important;
    }

    #page {
      margin-left: 0px!important;
      margin-top: 18px!important;
      padding-right: 10px!important;
      padding-left: 10px!important;
    }

}

