

@media (max-width: 768px) {
    .login-account {
        font-size : 24px!important;
    }

    .col-xs-10,  .account-text {
    	width: 100%!important;
		font-size: 14px!important;
	}

	section button {
		width : 100%;
		font-size : 18px!important;
		margin-bottom: 40px;
	}

	section input {
		border-color: #f0f0f0;
    	border-width: 1px;
	}

	#password-text {
	font-size: 14px;
	}

	.required-text {
		float : none;
	}


	.forget-password a {
		font-size : 14px;
	}

	.logo-icon {
		margin-top: 0px;
	}

/*	@media only screen and (min-width : 600px) and (max-width : 603px) and (orientation: portrait) {
		   .login-account {
        font-size : 24px!important;
    }

    .col-xs-10,  .account-text {
    	width: 100%!important;
		font-size: 14px!important;
	}

	section button {
		width : 100%;
		font-size : 18px!important;
		margin-bottom: 40px;
	}

	section input {
		border-color: #f0f0f0;
    	border-width: 1px;
	}

	#password-text {
	font-size: 14px;
	}

	.required-text {
		float : none;
	}


	.forget-password a {
		font-size : 14px;
	}

	.logo-icon {
		margin-top: 0px;
	}
	}	*/
}