@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/AvenirLTStd-Book.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

.header {
    height : 85px;
    background-color: #527b6a;
    padding-top: 0px;
    width : 100%;
}

.container {
    font-family:'Avenir LT Std';
}

li{
    list-style-type: none;
   /* margin: 0;
    padding: 0;*/
    float : left;
   /* padding-left : 10px;*/
}

li img { 
    margin-right: 35px; 

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-left: 25px;
    font-size: 16px;
    font-family:'Avenir LT Std';
}

.shortcuts { 
    font-size :20px;
 }

 .contents {
    height: 1465px;
    width: 100%;
 }

 .login-content {
    margin:  0;
    width: 50%;
    float: left;
}

 .login-info {
    font-size : 40px;
    color : #527b6a;
 }

 .inside-info {
    width : 498px;
 }
/*
 h5 .custom2 {
    float : right;
 }*/

 .form-group {

 }
 .customer-info h3{
    margin-top: 46px;
    color : #527b6a;
    font-size: 20px;
    font-weight: none;
 }

 .inside-div {
    height : 167px;
    border-top: #f0f0f0;
    border-top-style: solid;
    border-bottom: #f0f0f0;
    border-bottom-style: solid;
 }

 .small-div {
    margin-top: 25px;
    height :85px;
    border-top: #f0f0f0;
    border-top-style: solid;
    border-bottom: #f0f0f0;
    border-bottom-style: solid;
 }

.small-div button {
    background-color: #f0f0f0;
    color :black;
} 

.first-box, .second-box, .third-box {
    height : 166px;
    border-right:#f0f0f0; 
    border-right-style: solid;
}
 .buttons-cart {
    margin-top : 10px;
    float : right;
 }

 .create-account {
    margin-top: 27px;
    /*width: 168px;
    height : 37px;*/
 }

 .count-items {
    margin-top: 65px;
 }

.registered-content {
    margin: 0;
    width: 50%;
    float: left;
}
 .registered-info {
    margin-top: 46px;
    color : #527b6a;
    font-size: 20px;

 }

 input[type="button" i] {
    background-color: #663456;
    color : white;
    font-size : 14px;
    width: 168px;
    height: 37px;
}

.footer-top {
    margin-top: 20px;
    background-color: #663456;
    height: 65px;
    width : 100%;
}

.service-logo {
    height : 103px;
}

.service-text {
    color : black;
    font-size : 24px;
}

.signup-text {
    font-size : 24px;
    width: 414px;
    float : left;
}

input[type = "email2"] {
    width: 566px;
    height :40px;
}

.subscribe-button {
    float : right;
}

.addButton {
    margin-left: 5px;
}

.subscribe-button input {
    height: 40px !important;
    width : 132px !important;
    font-size : 20px;
    background-color: #663456;
    color : white;
    text-align: center;
}

.main-footer {
    height: 310px;
    background-color: #414042;
    width : 100%;
}

.footer-info {
    float : none;
}

.payment-logo li{
    float : left;
    padding-top: 12px;
    font-size : 20px;
    margin-right: 0px;
    margin-left: 10px;
}

.connect-logo li {
    margin-left: 12px;
    font-size: 20px;
}

.regular-account {
    float: right;
    margin-top: 25px;
    font-size: 22px;
    color : #527b6a;
    margin-right: 100px !important; 
}

.account-list {
    display: grid;
    color : #527b6a;
    font-size : 22px;
}

.wishlist-tag {
    color:black;
}